<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Sidebar -->
<div id="sidebar-wrapper" class="hidden-print" th:fragment="menu">
	<ul class="sidebar-nav">
		<li class="sidebar-brand">
			<a href="#"> Consultas </a>
		</li>
		<li>
			<a th:href="@{/sprint/atividadesAndamento}">Atividades em progresso</a>
		</li>
		<li>
			<a th:href="@{/sprint/horasLogadasSprint}">Horas Logadas por Sprint</a>
		</li>
		<li>
			<a th:href="@{/usuario/horasLogadasUsuario}">Horas Logadas por Usuário</a>
		</li>
	</ul>
</div>
<!-- /#sidebar-wrapper -->
</html>