<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="static">

	<link rel="stylesheet" type="text/css" href="bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" href="bootstrap-grid.min.css" th:href="@{/bootstrap-grid.min.css}" />
	<link rel="stylesheet" type="text/css" href="jquery-ui.theme.min.css" th:href="@{/jquery-ui.theme.min.css}" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
	<link rel="stylesheet" type="text/css" href="main.css" th:href="@{/main.css}" />
	<script type="text/javascript" src="jquery-3.2.1.min.js" th:src="@{/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" src="bootstrap.min.js" th:src="@{/bootstrap.min.js}"></script>
	<script type="text/javascript" src="jquery-ui.min.js" th:src="@{/jquery-ui.min.js}"></script>
	
	<!-- DataTable -->
	<link rel="stylesheet" type="text/css" href="dataTables/datatables.min.css" th:href="@{/dataTables/datatables.min.css}"/>
	<script type="text/javascript" src="dataTables/datatables.min.js" th:src="@{/dataTables/datatables.min.js}"></script>
	
	<link rel="stylesheet" type="text/css" href="style.css" th:href="@{/style.css}" />
<!-- 	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css" /> -->
<!-- 	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/fixedcolumns/3.2.4/css/fixedColumns.dataTables.min.css" /> -->
<!-- 	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> -->
<!-- 	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script> -->
<!-- 	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js"></script> -->

</th:block>
</html>