<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

<th:block th:replace="fragments/static :: static" />

<meta charset="UTF-8" />
<title>Jira - Atividades em Andamento</title>
</head>
<body>

	<div id="wrapper" class="toggled">

		<div th:replace="fragments/menu :: menu"></div>

		<form th:action="@{/sprint/pesquisarAtividadesAndamento}" th:object="${filtro}" th:method="GET">
			<!-- Page Content -->
			<div id="page-content-wrapper">
				<div class="container-fluid">
					<h1>Atividades em Andamento</h1>

					<div id="filtro" class="col-md-12 hidden-print" style="padding-bottom: 25px;">
						<div class="row">
							<div class="col">
								<label >Equipe</label>
								<select id="selectBoard" class="form-control" th:field="*{key}">
									<option value="" label="Selecione..."></option>
									<option value="2482" label="Bolts"></option>
									<option value="4268" label="Inimigos HD"></option>
									<option value="2516" label="Kanbantroopers"></option>
									<option value="2970" label="System Team"></option>
								</select>
							</div>
							<div class="col">
								<label >Sprint Ativas</label>
								<select class="form-control" th:field="*{sprint}">
									<option id="optionSelected" value="" label=""></option>
								</select>
							</div>
							<div class="col">
								<label for="exampleInputPassword1">&nbsp;</label>
								<button id="pesquisar" type="submit" class="form-control btn btn-primary" disabled="disabled">Pesquisar</button>
							</div>
						</div>
					</div>

					<div class="alert alert-warning" th:if="${mensagemErro} != null">
						<strong>Ooops!</strong>
						<th:block th:utext="${mensagemErro}"></th:block>
					</div>

					<div th:if="${listaAtividades} != null">
						<table id="users" class="worklog-table table table-striped display">
							<thead>
								<tr>
									<th scope="col">Chave</th>
									<th scope="col">Descrição</th>
									<th scope="col">Responsável</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="atividade : ${listaAtividades}">
									<tr>
										<td>
											<span th:utext="${atividade.key}">1</span>
										</td>
										<td>
											<span th:utext="${atividade.summary}">1</span>
										</td>
										<td>
											<span th:utext="${atividade.assignee}">1</span>
										</td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</form>

	</div>

</body>
</html>