<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

<th:block th:replace="fragments/static :: static" />

<meta charset="UTF-8" />
<title>Jira - Lançamento de horas</title>
</head>
<body>

	<div id="wrapper" class="toggled">

		<div th:replace="fragments/menu :: menu"></div>

		<form th:action="@{/sprint/pesquisarHorasLogadasSprint}" th:object="${filtro}" th:method="GET">
			<!-- Page Content -->
			<div id="page-content-wrapper">
				<div class="container-fluid">
					<h1 class="hidden-print">Lançamento de horas</h1>
					<h1 class="visible-print-block" th:utext="|*{sprintName}|"></h1>

					<div id="filtro" class="col-md-12 hidden-print" style="padding-bottom: 25px;">
						<div class="row">
							<div class="col">
								<label >Número sprint</label>
								<input class="form-control" th:field="*{sprint}"  />
							</div>
							<div class="col-xs-2">
								<label for="exampleInputPassword1">&nbsp;</label>
								<button id="pesquisar" type="submit" class="form-control btn btn-primary" >Pesquisar</button>
							</div>
						</div>
					</div>

					<div class="alert alert-warning" th:if="${mensagemErro} != null">
						<strong>Ooops!</strong>
						<th:block th:utext="${mensagemErro}"></th:block>
					</div>

					<div th:if="${listaHoras} != null" id="conteudoTabela">
						<table id="horasLogadas" class="worklog-table table table-striped display">
							<thead>
								<tr>
									<th scope="col" style="border-bottom: 0;"></th>
									<th:block th:each="data : ${listaDatas}">
										<th th:utext="${#dates.format(data, 'EEE')}" 
											th:classAppend="${#dates.dayOfWeek(data)} == 7 or ${#dates.dayOfWeek(data)} == 1 ? 'weekend' : 
													(${#dates.dayOfWeek(data)} == 2 ? 'monday' : (${#dates.dayOfWeek(data)} == 6 ? 'friday' : ''))"></th>
									</th:block>
								</tr>
								<tr th:if="${not #lists.isEmpty(listaDatas)}">
									<th scope="col" style="border-top: 0;">Usuário</th>
									<th:block th:each="data : ${listaDatas}">
										<th th:utext="${#dates.format(data, 'MMM-dd')}"></th>
									</th:block>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="hora : ${listaHoras}">
									<tr>
										<td><span th:utext="${hora.user}">1</span></td>
										<th:block th:each="date : ${hora.hours}">
											<td th:classAppend="${#dates.dayOfWeek(date.date)} == 7 or ${#dates.dayOfWeek(date.date)} == 1 ? 'weekend' : 
													(${#dates.dayOfWeek(date.date)} == 2 ? 'monday' : (${#dates.dayOfWeek(date.date)} == 6 ? 'friday' : ''))"
											class="text-center"><span th:utext="${date.time}" th:classAppend="${date.htmlClass}">1</span></td>
										</th:block>
									</tr>
								</th:block>
							</tbody>
						</table>
						
					</div>

				</div>
			</div>
		</form>

	</div>

</body>
</html>