<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

<th:block th:replace="fragments/static :: static" />

<meta charset="UTF-8" />
<title>Realizar Login</title>
</head>
<body>

	<div th:if="${mensagemErro} != null" class="alert alert-danger" role="alert"><th:block th:utext="${mensagemErro}" /></div>

	<form th:action="@{/login}" th:object="${usuario}" th:method="POST">

		<div align="center" style="padding-top: 200px;">
			<div class="form-group">
				<label for="exampleInputEmail1">Usuário</label>
				<input class="form-control col-md-4" th:field="*{usuario}" aria-describedby="emailHelp" />
				<small id="emailHelp" class="form-text text-muted">Usuário para conexão no JIRA</small>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Senha</label>
				<input type="password" class="form-control col-md-4" th:field="*{password}" />
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>

		</div>

	</form>

</body>

</html>